<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>jp1</string>
        <string>jp2</string>
        <string>jp3</string>
        <string>jp4</string>
        <string>jp5</string>
        <string>jp6</string>
        <string>jp7</string>
        <string>jp8</string>
        <string>jp9</string>
        
    </array>
</plist>
