<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ko1</string>
	<string>ko2</string>
	<string>ko3</string>
	<string>ko4</string>
	<string>ko5</string>
	<string>ko6</string>
	<string>ko7</string>
	<string>ko8</string>
	<string>ko9</string>
	<string>ko10</string>
</array>
</plist>
